body {
	background-color:rgb(80,0,0);
}

#container1 {
	border:solid;
}
#timer {
	border:;
	color:white;
}

#break {
	background-color:transparent;
	color: white;
	border:none;
}
#Break-input {
	color: white;
}